<html>
<head>
    <title>密室惊魂 - 上帝视角</title>
    <style>
        table {border-collapse:collapse; text-align: center;}
        td {padding: 2px 10px;}
    </style>
</head>
<h1>【<%=game.socketRoom%>】号房间 - 上帝视角</h1>
<%
var i;
var role = {
    'victim': '受害者',
    'victim-ex': 'EX受害者',
    'traitor': '奸徒'
};
Date.prototype.format = function (format) {
    var o = {
        "M+": this.getMonth() + 1, //month
        "d+": this.getDate(), //day
        "h+": this.getHours(), //hour
        "m+": this.getMinutes(), //minute
        "s+": this.getSeconds(), //second
        "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
        "S": this.getMilliseconds() //millisecond
    };
    if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)if (new RegExp("(" + k + ")").test(format))
        format = format.replace(RegExp.$1,
                        RegExp.$1.length == 1 ? o[k] :
                        ("00" + o[k]).substr(("" + o[k]).length));
    return format;
};
%>
<h3>玩家: <%= game.clients.length %></h3>
<% if(!game.started) { %>
    <ul>
    <%
    for(i in game.clients) {
        if(game.clients.hasOwnProperty(i)) {
            var client = game.clients[i],
                sHeaders = client.handshake.headers,
                clientIp = sHeaders['x-forwarded-for'] ? sHeaders['x-forwarded-for'] : client.client.conn.remoteAddress;
    %>
            <li>
                <%= client.playerName %> <%= clientIp %> <%= client.playerReady ? '已准备' : '' %>
            </li>

    <%
        }
    }
    %>
    </ul>
<% } else { %>
    <ul>
        <table border="1px" cellspacing="0px">
            <thead><tr><td>号码</td><td>昵称</td><td>身份</td><td>钥匙</td><td>解毒</td><td>线索卡</td><td>IP</td></tr></thead>
            <tbody>
    <%
    for(i in game.clients) {
        if(game.clients.hasOwnProperty(i)) {
            client = game.clients[i];
            var player = game.players[i];
            sHeaders = client.handshake.headers;
            clientIp = sHeaders['x-forwarded-for'] ? sHeaders['x-forwarded-for'] : client.client.conn.remoteAddress;
    %>
            <tr>
                <td>【<%= player.id %>】</td>
                <td><%= player.name %></td>
                <td><%= role[player.role] %></td>
                <td><% if(player.hasKey) { %> 有 <% } %></td>
                <td><% if(!player.injured) { %> 是 <% } %></td>
                <td><% if(!!player.clue) { %> <%= player.clue.level %> 级，<%= player.clue.room %> <% } %></td>
                <td><%= clientIp %></td>
            </tr>
    <%
        }
    }
    %>
            </tbody>
        </table>
    </ul>
    <h3>开始时间 - <%= game.startTime.format('hh:mm:ss') %></h3>
    <h3>游戏进度</h3>
    <ul>
        <li>游戏时长： <%= parseInt((new Date() - game.startTime) / 60000) %> 分钟</li>
        <li>当前回合： <%= game.data.progress.round %></li>
        <%
            var stageName = {
                prepare: '准备',
                speak: '发言',
                move: '移动',
                time: '时间',
                perform: '执行',
                thinking: '思考'
            };
        %>
        <li>当前阶段： <%= stageName[game.data.progress.stage] %></li>
        <%
            var bombStatus = {
                0: '未拆',
                1: '已拆一次',
                2: '已拆两次',
                '-1': '第一次拆弹失败',
                '-2': '第二次拆弹失败'
            };
        %>
        <% if(game.players.length >=  5) { %><li>拆弹情况： <%= bombStatus[game.data.progress.bomb] %></li><% } %>
    </ul>
<%
    var colors = {
        green: '绿色',
        red: '红色',
        blue: '蓝色',
        yellow: '黄色'
    };
%>
    <h3>安全房间 - 【<%= game.data.safeRoom %>】号 <%= colors[game.data.rooms[game.data.safeRoom].color] %> <%= game.data.rooms[game.data.safeRoom].hasLock ? '有锁' : '无锁' %></h3>
    <h3>已发放线索卡</h3>
        <ul>
            <li>【1】级线索卡：<%= game.data.usedClues.level1 %></li>
            <li>【2】级线索卡：<%= game.data.usedClues.level2 %></li>
            <% if(game.players.length >=  5) { %><li>【3】级线索卡：<%= game.data.usedClues.level3 %></li><% } %>
        </ul>
<%
    var roomsLeft = [1,2,3,4,5,6,7,8,9,10,11,12], index;
    if(game.players.length < 5) roomsLeft = [2,3,4,6,7,9,10,11];
    var level1 = game.data.usedClues.level1,
            level2 = game.data.usedClues.level2,
            level3 = game.data.usedClues.level3;
    for(i in level1) {
        if(level1.hasOwnProperty(i)) {
            index = roomsLeft.indexOf(level1[i]);
            if(index >= 0) {
                roomsLeft.splice(index, 1);
            }
        }
    }
    var j;
    for(i in level2) {
        if(level2.hasOwnProperty(i)) {
            for(j in game.data.rooms) {
                if(game.data.rooms.hasOwnProperty(j) && game.data.rooms[j].color == level2[i]) {
                    index = roomsLeft.indexOf(parseInt(j));
                    if(index >= 0) {
                        roomsLeft.splice(index, 1);
                    }
                }
            }
        }
    }
    if(level3.length > 0) {
        for(j in game.data.rooms) {
            if(game.data.rooms.hasOwnProperty(j) && game.data.rooms[j].hasLock == (level3[0] == 'hasLock')) {
                index = roomsLeft.indexOf(parseInt(j));
                if(index >= 0) {
                    roomsLeft.splice(index, 1);
                }
            }
        }
    }
%>
    <h3>未排除的房间</h3>
    <ul>
        <table border="1px" cellspacing="0px">
            <thead><tr><td>号码</td><td>颜色</td><td>是否有锁</td></tr></thead>
            <tbody>
<%
    for(i in roomsLeft) {
        if(roomsLeft.hasOwnProperty(i)) {
%>
        <tr>
            <td><span<% if (roomsLeft[i] == game.data.safeRoom) { %> style="background-color: yellow;"<% } %>>【<%= roomsLeft[i] %>】</span></td>
            <td><span style="color:<%= game.data.rooms[roomsLeft[i]].color %>;"><%= colors[game.data.rooms[roomsLeft[i]].color] %></span></td>
            <td><span style="color:<%= game.data.rooms[roomsLeft[i]].hasLock ? 'black' : 'white' %>;"><%= game.data.rooms[roomsLeft[i]].hasLock ? '有锁' : '无锁' %></span></td>
        </tr>
<%
        }
    }
%>
            </tbody>
        </table>
    </ul>
    <h3>剩余线索卡</h3>
    <ul>
        <li>【1】级线索卡：<%= game.data.clues.level1 %></li>
        <li>【2】级线索卡：<%= game.data.clues.level2 %></li>
        <% if(game.players.length >= 5) { %><li>【3】级线索卡：<%= game.data.clues.level3 %></li><% } %>
    </ul>
<% } %>
<h3>观众: <%= game.watchers.length %></h3>
<ul>
<%
for(i in game.watchers) {
    if(game.watchers.hasOwnProperty(i)) {
        client = game.watchers[i],
        sHeaders = client.handshake.headers,
        clientIp = sHeaders['x-forwarded-for'] ? sHeaders['x-forwarded-for'] : client.client.conn.remoteAddress;
%>
        <li><%= client.playerName %> <%= clientIp %></li>

<%
    }
}
%>
</ul>
</html>
